<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}" type="text/css" />
    <link rel="stylesheet" href="{{url_for('static',filename='channels.css')}}" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <script src="{{url_for('static',filename='channels.js')}}" ></script>
    <title>Shlack - Channels</title>
</head>
<body>
    <div class="page">
        <button id="logout">Logout</button>
        <form class="create-channel">
            <label id="channel-name-label">Create your own channel</label>
            <input id="channel-name" type="text" autocomplete="off" placeholder="Channel name" />
            <label id="error"></label>
            <button type="submit" id="create-channel-button">+ Create Channel</button>
        </form>
        <div class="channels">
        </div>
    </div>
</body>
</html>