<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static',filename='chat.css')}}" type="text/css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <script src="{{url_for('static',filename='chat.js')}}"></script>
    <title>Chat</title>
</head>
<body>
    <div class="page">
        <div class="top-bar">
            <button id="logout">Logout</button>
            <button id="leave">Leave room</button>
        </div>
            
        <div class="chat">
            <ul class="messages"></ul>
        </div>
        
        <form class="bot-bar">
            <input id="msg" type="text" autocomplete="off" placeholder="Enter your message" />
            <button id="msg-send" type="submit">Send</button>
        </form>
    </div>
    
</body>
</html>