

h1 {
    font-size: 80px;
}

.enter-name {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#name {
    height: 44px;
    width: 284px;
    border: none;
    border-radius: 10px;
    border: solid 3px rgb(224, 38, 209);
    padding: 5px;
    font-size: 30px;
    color: black;
    
}

button {
    margin-top: 20px;
    height: 60px;
    width: 300px
}



label {
    color: crimson;
    font-size: 24px;
    

}